In [4]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [20]:
data = pd.read_csv('Online Retail-unclean.csv')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [6]:
missing_values = data.isnull().sum()
print(missing_values)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           5
CustomerID     135086
Country             8
dtype: int64

In [7]:
missing_columns = missing_values[missing_values > 0]
print(missing_columns)

Description      1454
UnitPrice           5
CustomerID     135086
Country             8
dtype: int64

In [8]:
for column, missing_count in missing_columns.items():
    print(f"Kolom '{column}' memiliki {missing_count} nilai yang hilang.")

Kolom 'Description' memiliki 1454 nilai yang hilang.
Kolom 'UnitPrice' memiliki 5 nilai yang hilang.
Kolom 'CustomerID' memiliki 135086 nilai yang hilang.
Kolom 'Country' memiliki 8 nilai yang hilang.

In [9]:
missing_country_data = data[data['Country'].isnull()]
print(missing_country_data)

       InvoiceNo StockCode                          Description  Quantity  \
52281     540700     22244           3 HOOK HANGER MAGIC GARDEN        12
57298     541149     22449             SILK PURSE BABUSHKA PINK         6
57299     541149     22450             SILK PURSE BABUSHKA BLUE         6
119195    546533     84755  COLOUR GLASS T-LIGHT HOLDER HANGING        16
119196    546533     85116      BLACK CANDELABRA T-LIGHT HOLDER         6
232465    557322     22635     CHILDS BREAKFAST SET DOLLY GIRL          2
232490    557322     22729          ALARM CLOCK BAKELIKE ORANGE         4
232493    557322    84663A      GRASS HOPPER WOODEN WALL CLOCK          3

            InvoiceDate  UnitPrice  CustomerID Country
52281    1/11/2011 9:47       1.95     12393.0     NaN
57298   1/14/2011 11:36       2.95     12393.0     NaN
57299   1/14/2011 11:36       2.95     12393.0     NaN
119195  3/14/2011 13:53       0.65     15388.0     NaN
119196  3/14/2011 13:53       2.10     15388.0     NaN
232465   6/20/2011 9:04       9.95     17444.0     NaN
232490   6/20/2011 9:04       3.75     17444.0     NaN
232493   6/20/2011 9:04       5.95     17444.0     NaN

In [8]:
rows_with_missing_data = data[data.isnull().any(axis=1)]
print(rows_with_missing_data)

       InvoiceNo StockCode                      Description  Quantity  \
205       536389     22726       ALARM CLOCK BAKELIKE GREEN         4
622       536414     22139                              NaN        56
1443      536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444      536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445      536544     21786               POLKADOT RAIN HAT          4
...          ...       ...                              ...       ...
541536    581498    85099B          JUMBO BAG RED RETROSPOT         5
541537    581498    85099C   JUMBO  BAG BAROQUE BLACK WHITE         4
541538    581498     85150    LADIES & GENTLEMEN METAL SIGN         1
541539    581498     85174                S/4 CACTI CANDLES         1
541540    581498       DOT                   DOTCOM POSTAGE         1

            InvoiceDate  UnitPrice  CustomerID         Country
205     12/1/2010 10:03        NaN     12431.0       Australia
622     12/1/2010 11:52       0.00         NaN  United Kingdom
1443    12/1/2010 14:32       2.51         NaN  United Kingdom
1444    12/1/2010 14:32       2.51         NaN  United Kingdom
1445    12/1/2010 14:32       0.85         NaN  United Kingdom
...                 ...        ...         ...             ...
541536  12/9/2011 10:26       4.13         NaN  United Kingdom
541537  12/9/2011 10:26       4.13         NaN  United Kingdom
541538  12/9/2011 10:26       4.96         NaN  United Kingdom
541539  12/9/2011 10:26      10.79         NaN  United Kingdom
541540  12/9/2011 10:26    1714.17         NaN  United Kingdom

[135099 rows x 8 columns]

In [13]:
missing_details = rows_with_missing_data.apply(lambda row: row[row.isnull()].index.tolist(), axis=1)

missing_summary = pd.DataFrame({
    'Country': rows_with_missing_data['Country'],
    'MissingColumns': missing_details
})

print(missing_summary)

               Country             MissingColumns
205          Australia                [UnitPrice]
622     United Kingdom  [Description, CustomerID]
1443    United Kingdom               [CustomerID]
1444    United Kingdom               [CustomerID]
1445    United Kingdom               [CustomerID]
...                ...                        ...
541536  United Kingdom               [CustomerID]
541537  United Kingdom               [CustomerID]
541538  United Kingdom               [CustomerID]
541539  United Kingdom               [CustomerID]
541540  United Kingdom               [CustomerID]

[135099 rows x 2 columns]

In [10]:
missing_info = data[data.isnull().any(axis=1)]  
missing_counts = missing_info.isnull().sum(axis=1)
missing_info['MissingCount'] = missing_counts
grouped_missing = missing_info.groupby('Country')['MissingCount'].sum()

for country, count in grouped_missing.items():
    print(f"Negara yang ada missing data adalah '{country}' jumlahnya {count}")

Negara yang ada missing data adalah 'Australia' jumlahnya 5
Negara yang ada missing data adalah 'Bahrain' jumlahnya 2
Negara yang ada missing data adalah 'Canada' jumlahnya 3
Negara yang ada missing data adalah 'EIRE' jumlahnya 711
Negara yang ada missing data adalah 'France' jumlahnya 66
Negara yang ada missing data adalah 'Hong Kong' jumlahnya 288
Negara yang ada missing data adalah 'Israel' jumlahnya 47
Negara yang ada missing data adalah 'Portugal' jumlahnya 39
Negara yang ada missing data adalah 'Singapore' jumlahnya 3
Negara yang ada missing data adalah 'Switzerland' jumlahnya 125
Negara yang ada missing data adalah 'United Kingdom' jumlahnya 135054
Negara yang ada missing data adalah 'Unspecified' jumlahnya 202

In [12]:
print(data.head())        # 5 baris pertama
print(data.info())        # Informasi tipe data dan jumlah nilai non-null
print(data.describe())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541904 non-null  float64
 6   CustomerID   406823 non-null  float64
 7   Country      541901 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
            Quantity      UnitPrice     CustomerID
count  541909.000000  541904.000000  406823.000000
mean        9.552250       4.611096   15287.708588
std       218.081158      96.760300    1713.598996
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [14]:
# Hapus baris dengan nilai hilang di kolom Description
data = data.dropna(subset=['Description'])

# Isi nilai hilang di UnitPrice dengan rata-rata
data['UnitPrice'].fillna(data['UnitPrice'].mean(), inplace=True)

# Isi nilai hilang di CustomerID dengan 0
data['CustomerID'].fillna(0, inplace=True)

# Cari modus untuk kolom Country
country_mode = data['Country'].mode()[0]

# Isi nilai hilang di Country dengan modus
data['Country'].fillna(country_mode, inplace=True)

In [15]:
# Periksa apakah masih ada nilai hilang
print(data.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [16]:
data.to_csv('cleaned_data.csv', index=False)

In [17]:
print(data.duplicated().sum())

5268

In [21]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [22]:
data['Month'] = data['InvoiceDate'].dt.to_period('M')

In [23]:
aggregated_data = data.groupby(['Country', 'Month'])['UnitPrice'].sum().reset_index()

In [24]:
print(aggregated_data)
aggregated_data.to_csv('Aggregasi.csv', index=False)

         Country    Month  UnitPrice
0      Australia  2010-12     138.26
1      Australia  2011-01     325.54
2      Australia  2011-02     273.63
3      Australia  2011-03     372.57
4      Australia  2011-04     396.55
..           ...      ...        ...
309  Unspecified  2011-06      42.10
310  Unspecified  2011-07     627.05
311  Unspecified  2011-08     146.51
312  Unspecified  2011-09     108.43
313  Unspecified  2011-11     116.10

[314 rows x 3 columns]

In [25]:
import math

country_counts = data['Country'].value_counts().reset_index()
country_counts.columns = ['Country', 'TotalData']

def calculate_sample_size(total, alpha):
    Z = {0.03: 1.88, 0.01: 2.58}[alpha]  
    p = 0.5  
    E = alpha  
    n = (Z**2 * p * (1 - p)) / (E**2)
    n = math.ceil(n)  
    return min(total, n)  

country_counts['Sample_alpha_0.03'] = country_counts['TotalData'].apply(lambda x: calculate_sample_size(x, 0.03))
country_counts['Sample_alpha_0.01'] = country_counts['TotalData'].apply(lambda x: calculate_sample_size(x, 0.01))

country_counts.to_csv('Sampling.csv', index=False)

print(country_counts)

                 Country  TotalData  Sample_alpha_0.03  Sample_alpha_0.01
0         United Kingdom     495478                982              16641
1                Germany       9495                982               9495
2                 France       8557                982               8557
3                   EIRE       8196                982               8196
4                  Spain       2533                982               2533
5            Netherlands       2371                982               2371
6                Belgium       2069                982               2069
7            Switzerland       2002                982               2002
8               Portugal       1519                982               1519
9              Australia       1256                982               1256
10                Norway       1086                982               1086
11                 Italy        803                803                803
12       Channel Islands        758                758                758
13               Finland        695                695                695
14                Cyprus        622                622                622
15                Sweden        462                462                462
16           Unspecified        446                446                446
17               Austria        401                401                401
18               Denmark        389                389                389
19                 Japan        358                358                358
20                Poland        341                341                341
21                Israel        297                297                297
22                   USA        291                291                291
23             Hong Kong        288                288                288
24             Singapore        229                229                229
25               Iceland        182                182                182
26                Canada        146                146                146
27                Greece        146                146                146
28                 Malta        127                127                127
29  United Arab Emirates         68                 68                 68
30    European Community         61                 61                 61
31                   RSA         58                 58                 58
32               Lebanon         45                 45                 45
33             Lithuania         35                 35                 35
34                Brazil         32                 32                 32
35        Czech Republic         30                 30                 30
36               Bahrain         19                 19                 19
37          Saudi Arabia         10                 10                 10